<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out"/>
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
		</layout>
	</appender>

	<category name="org.openflamingo.uploader">
		<priority value="DEBUG"/>
	</category>

	<category name="org.jboss.logging">
		<priority value="WARN"/>
	</category>

	<category name="org.quartz">
		<priority value="WARN"/>
	</category>

	<category name="org.springframework">
		<priority value="WARN"/>
	</category>

	<category name="org.apache.pig">
		<priority value="WARN"/>
	</category>

	<category name="org.apache.hadoop">
		<priority value="INFO"/>
	</category>

	<category name="org.apache.http">
		<priority value="INFO"/>
	</category>

	<category name="org.hibernate">
		<priority value="WARN"/>
	</category>

	<category name="org.jgroups">
		<priority value="WARN"/>
	</category>

	<category name="org.jboss">
		<priority value="WARN"/>
	</category>

	<root>
		<appender-ref ref="CONSOLE"/>
	</root>
</log4j:configuration>
